In [1]:
import pandas as pd
import requests
import gmaps
import numpy as np
import gmaps.datasets
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
#read csv
cities_data_df_csv=pd.read_csv("weather_database/weatherpy_database.csv")
cities_data_df_csv

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description,Date
0,0,Carnarvon,AU,-24.8667,113.6333,71.67,30,79,20.71,broken clouds,2021-10-28 02:46:54
1,1,Kushima,JP,31.4583,131.2333,69.84,41,0,4.21,clear sky,2021-10-28 02:46:55
2,2,Avarua,CK,-21.2078,-159.7750,77.05,69,75,9.22,broken clouds,2021-10-28 02:46:57
3,3,Punta Arenas,CL,-53.1500,-70.9167,48.31,61,0,8.05,clear sky,2021-10-28 02:44:54
4,4,Alofi,NU,-19.0595,-169.9187,80.49,61,75,16.11,broken clouds,2021-10-28 02:46:59
...,...,...,...,...,...,...,...,...,...,...,...
698,698,Badin,PK,24.6560,68.8384,81.00,24,0,4.23,clear sky,2021-10-28 03:03:46
699,699,Bonham,US,33.5773,-96.1783,61.16,73,1,11.50,clear sky,2021-10-28 03:03:47
700,700,Gusinoye Ozero,RU,51.1144,106.2614,45.14,60,99,5.26,overcast clouds,2021-10-28 03:03:49
701,701,Gurlan,UZ,41.8447,60.3919,39.27,89,100,5.17,overcast clouds,2021-10-28 03:03:50
702,702,Chifeng,CN,42.2683,118.9636,55.20,29,0,2.35,clear sky,2021-10-28 03:03:51

In [3]:
cities_data_df_csv= cities_data_df_csv.drop(columns=["Unnamed: 0"])

In [4]:
cities_data_df_csv

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description,Date
0,Carnarvon,AU,-24.8667,113.6333,71.67,30,79,20.71,broken clouds,2021-10-28 02:46:54
1,Kushima,JP,31.4583,131.2333,69.84,41,0,4.21,clear sky,2021-10-28 02:46:55
2,Avarua,CK,-21.2078,-159.7750,77.05,69,75,9.22,broken clouds,2021-10-28 02:46:57
3,Punta Arenas,CL,-53.1500,-70.9167,48.31,61,0,8.05,clear sky,2021-10-28 02:44:54
4,Alofi,NU,-19.0595,-169.9187,80.49,61,75,16.11,broken clouds,2021-10-28 02:46:59
...,...,...,...,...,...,...,...,...,...,...
698,Badin,PK,24.6560,68.8384,81.00,24,0,4.23,clear sky,2021-10-28 03:03:46
699,Bonham,US,33.5773,-96.1783,61.16,73,1,11.50,clear sky,2021-10-28 03:03:47
700,Gusinoye Ozero,RU,51.1144,106.2614,45.14,60,99,5.26,overcast clouds,2021-10-28 03:03:49
701,Gurlan,UZ,41.8447,60.3919,39.27,89,100,5.17,overcast clouds,2021-10-28 03:03:50
702,Chifeng,CN,42.2683,118.9636,55.20,29,0,2.35,clear sky,2021-10-28 03:03:51

In [5]:
cities_data_df_csv.count()

City                   703
Country                696
Lat                    703
Lng                    703
Max Temp               703
Humidity               703
Cloudiness             703
Wind Speed             703
Current description    703
Date                   703
dtype: int64

In [6]:
# there are some blanks in column 'country' filtering 
cities_data_df_csv = cities_data_df_csv.loc[(cities_data_df_csv["Country"].notnull())]

In [7]:
#excluded 5 rows which had blanks in country column
cities_data_df_csv.count()

City                   696
Country                696
Lat                    696
Lng                    696
Max Temp               696
Humidity               696
Cloudiness             696
Wind Speed             696
Current description    696
Date                   696
dtype: int64

In [8]:
cities_data_df_csv

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description,Date
0,Carnarvon,AU,-24.8667,113.6333,71.67,30,79,20.71,broken clouds,2021-10-28 02:46:54
1,Kushima,JP,31.4583,131.2333,69.84,41,0,4.21,clear sky,2021-10-28 02:46:55
2,Avarua,CK,-21.2078,-159.7750,77.05,69,75,9.22,broken clouds,2021-10-28 02:46:57
3,Punta Arenas,CL,-53.1500,-70.9167,48.31,61,0,8.05,clear sky,2021-10-28 02:44:54
4,Alofi,NU,-19.0595,-169.9187,80.49,61,75,16.11,broken clouds,2021-10-28 02:46:59
...,...,...,...,...,...,...,...,...,...,...
698,Badin,PK,24.6560,68.8384,81.00,24,0,4.23,clear sky,2021-10-28 03:03:46
699,Bonham,US,33.5773,-96.1783,61.16,73,1,11.50,clear sky,2021-10-28 03:03:47
700,Gusinoye Ozero,RU,51.1144,106.2614,45.14,60,99,5.26,overcast clouds,2021-10-28 03:03:49
701,Gurlan,UZ,41.8447,60.3919,39.27,89,100,5.17,overcast clouds,2021-10-28 03:03:50
702,Chifeng,CN,42.2683,118.9636,55.20,29,0,2.35,clear sky,2021-10-28 03:03:51

In [9]:
#Input statements are written to prompt the customer for their minimum and maximum temperature preferences. 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 89

In [10]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = cities_data_df_csv.loc[(cities_data_df_csv["Max Temp"] <= max_temp) & \
                                       (cities_data_df_csv["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description,Date
0,Carnarvon,AU,-24.8667,113.6333,71.67,30,79,20.71,broken clouds,2021-10-28 02:46:54
2,Avarua,CK,-21.2078,-159.7750,77.05,69,75,9.22,broken clouds,2021-10-28 02:46:57
4,Alofi,NU,-19.0595,-169.9187,80.49,61,75,16.11,broken clouds,2021-10-28 02:46:59
5,Rikitea,PF,-23.1203,-134.9692,74.66,75,9,3.98,clear sky,2021-10-28 02:47:00
8,Hithadhoo,MV,-0.6000,73.0833,82.85,69,74,13.13,broken clouds,2021-10-28 02:47:05
9,Hilo,US,19.7297,-155.0900,84.27,72,90,9.22,overcast clouds,2021-10-28 02:43:47
11,Bontang,ID,0.1333,117.5000,84.76,70,77,6.33,broken clouds,2021-10-28 02:47:09
13,La Libertad,EC,-2.2333,-80.9000,70.63,84,100,12.86,overcast clouds,2021-10-28 02:47:11
18,Bengkulu,ID,-3.8004,102.2655,82.06,68,100,1.86,overcast clouds,2021-10-28 02:47:18
19,Hambantota,LK,6.1241,81.1185,79.14,100,84,6.91,broken clouds,2021-10-28 02:47:19

In [11]:
#A new DataFrame is created based on the minimum and maximum temperature, and empty rows are dropped.
preferred_cities_df.count()

City                   263
Country                263
Lat                    263
Lng                    263
Max Temp               263
Humidity               263
Cloudiness             263
Wind Speed             263
Current description    263
Date                   263
dtype: int64

In [12]:
preferred_cities_df.to_csv("weather_database/preferred_cities_vacation.csv")

In [13]:
preferred_cities_df_csv=pd.read_csv("weather_database/preferred_cities_vacation.csv")

In [14]:
preferred_cities_df_csv

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description,Date
0,0,Carnarvon,AU,-24.8667,113.6333,71.67,30,79,20.71,broken clouds,2021-10-28 02:46:54
1,2,Avarua,CK,-21.2078,-159.7750,77.05,69,75,9.22,broken clouds,2021-10-28 02:46:57
2,4,Alofi,NU,-19.0595,-169.9187,80.49,61,75,16.11,broken clouds,2021-10-28 02:46:59
3,5,Rikitea,PF,-23.1203,-134.9692,74.66,75,9,3.98,clear sky,2021-10-28 02:47:00
4,8,Hithadhoo,MV,-0.6000,73.0833,82.85,69,74,13.13,broken clouds,2021-10-28 02:47:05
...,...,...,...,...,...,...,...,...,...,...,...
258,681,Hervey Bay,AU,-25.2986,152.8535,85.03,72,0,13.94,clear sky,2021-10-28 03:03:16
259,686,Quelimane,MZ,-17.8786,36.8883,73.65,79,80,9.42,light rain,2021-10-28 03:03:26
260,689,Carauari,BR,-4.8828,-66.8958,73.02,98,100,1.07,overcast clouds,2021-10-28 03:03:31
261,697,Akyab,MM,20.1500,92.9000,80.91,78,64,5.70,broken clouds,2021-10-28 03:03:45
262,698,Badin,PK,24.6560,68.8384,81.00,24,0,4.23,clear sky,2021-10-28 03:03:46

In [15]:
preferred_cities_df_csv= preferred_cities_df_csv.drop(columns=["Unnamed: 0"])

In [16]:
preferred_cities_df_csv

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description,Date
0,Carnarvon,AU,-24.8667,113.6333,71.67,30,79,20.71,broken clouds,2021-10-28 02:46:54
1,Avarua,CK,-21.2078,-159.7750,77.05,69,75,9.22,broken clouds,2021-10-28 02:46:57
2,Alofi,NU,-19.0595,-169.9187,80.49,61,75,16.11,broken clouds,2021-10-28 02:46:59
3,Rikitea,PF,-23.1203,-134.9692,74.66,75,9,3.98,clear sky,2021-10-28 02:47:00
4,Hithadhoo,MV,-0.6000,73.0833,82.85,69,74,13.13,broken clouds,2021-10-28 02:47:05
...,...,...,...,...,...,...,...,...,...,...
258,Hervey Bay,AU,-25.2986,152.8535,85.03,72,0,13.94,clear sky,2021-10-28 03:03:16
259,Quelimane,MZ,-17.8786,36.8883,73.65,79,80,9.42,light rain,2021-10-28 03:03:26
260,Carauari,BR,-4.8828,-66.8958,73.02,98,100,1.07,overcast clouds,2021-10-28 03:03:31
261,Akyab,MM,20.1500,92.9000,80.91,78,64,5.70,broken clouds,2021-10-28 03:03:45
262,Badin,PK,24.6560,68.8384,81.00,24,0,4.23,clear sky,2021-10-28 03:03:46

In [17]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df_csv[["City", "Country", "Max Temp", "Current description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,Carnarvon,AU,71.67,broken clouds,-24.8667,113.6333,
1,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,
2,Alofi,NU,80.49,broken clouds,-19.0595,-169.9187,
3,Rikitea,PF,74.66,clear sky,-23.1203,-134.9692,
4,Hithadhoo,MV,82.85,broken clouds,-0.6000,73.0833,
5,Hilo,US,84.27,overcast clouds,19.7297,-155.0900,
6,Bontang,ID,84.76,broken clouds,0.1333,117.5000,
7,La Libertad,EC,70.63,overcast clouds,-2.2333,-80.9000,
8,Bengkulu,ID,82.06,overcast clouds,-3.8004,102.2655,
9,Hambantota,LK,79.14,broken clouds,6.1241,81.1185,

In [19]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,Carnarvon,AU,71.67,broken clouds,-24.8667,113.6333,Hospitality Carnarvon
1,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,Paradise Inn
2,Alofi,NU,80.49,broken clouds,-19.0595,-169.9187,Taloa Heights
3,Rikitea,PF,74.66,clear sky,-23.1203,-134.9692,People ThankYou
4,Hithadhoo,MV,82.85,broken clouds,-0.6000,73.0833,Scoop Guest House
5,Hilo,US,84.27,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
6,Bontang,ID,84.76,broken clouds,0.1333,117.5000,KOPKAR Hotel Bintang Sintuk
7,La Libertad,EC,70.63,overcast clouds,-2.2333,-80.9000,Playa Canela Hotel Boutique
8,Bengkulu,ID,82.06,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
9,Hambantota,LK,79.14,broken clouds,6.1241,81.1185,Bungalow 63

In [21]:
hotel_df.count()

City                   263
Country                263
Max Temp               263
Current description    263
Lat                    263
Lng                    263
Hotel Name             263
dtype: int64

In [22]:
#pull up df and look
len(hotel_df)

263

In [23]:
hotel_df.head(20)

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,Carnarvon,AU,71.67,broken clouds,-24.8667,113.6333,Hospitality Carnarvon
1,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,Paradise Inn
2,Alofi,NU,80.49,broken clouds,-19.0595,-169.9187,Taloa Heights
3,Rikitea,PF,74.66,clear sky,-23.1203,-134.9692,People ThankYou
4,Hithadhoo,MV,82.85,broken clouds,-0.6000,73.0833,Scoop Guest House
5,Hilo,US,84.27,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
6,Bontang,ID,84.76,broken clouds,0.1333,117.5000,KOPKAR Hotel Bintang Sintuk
7,La Libertad,EC,70.63,overcast clouds,-2.2333,-80.9000,Playa Canela Hotel Boutique
8,Bengkulu,ID,82.06,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
9,Hambantota,LK,79.14,broken clouds,6.1241,81.1185,Bungalow 63
10,Oriximina,BR,76.12,broken clouds,-1.7656,-55.8661,Pousada Tia Amélia
11,Buraydah,SA,70.25,overcast clouds,26.3260,43.9750,فندق راحة السلام
12,Hobyo,SO,78.37,moderate rain,5.3505,48.5268,Halane Hotel and Restaurent
13,Bandarbeyla,SO,75.42,clear sky,9.4942,50.8122,JABIR HOTEL
14,Bintulu,MY,84.61,scattered clouds,3.1667,113.0333,900 Boutique INN
15,Kapaa,US,80.58,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
16,Bambous Virieux,MU,75.22,few clouds,-20.3428,57.7575,Casa Tia Villa
17,Atuona,PF,77.97,clear sky,-9.8000,-139.0333,Villa Enata
18,Presidente Medici,BR,74.30,overcast clouds,-11.1753,-61.9014,Oliveira Palace Hotel
19,Mataura,NZ,73.27,clear sky,-46.1927,168.8643,Ellie's Villa

In [24]:
#The hotel name is retrieved and added to the DataFrame, and the rows that don’t have a hotel name are dropped.  
Clean_hotel_df = hotel_df[(hotel_df["Hotel Name"]!="")]

In [25]:
Clean_hotel_df.head(20)

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,Carnarvon,AU,71.67,broken clouds,-24.8667,113.6333,Hospitality Carnarvon
1,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,Paradise Inn
2,Alofi,NU,80.49,broken clouds,-19.0595,-169.9187,Taloa Heights
3,Rikitea,PF,74.66,clear sky,-23.1203,-134.9692,People ThankYou
4,Hithadhoo,MV,82.85,broken clouds,-0.6000,73.0833,Scoop Guest House
5,Hilo,US,84.27,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
6,Bontang,ID,84.76,broken clouds,0.1333,117.5000,KOPKAR Hotel Bintang Sintuk
7,La Libertad,EC,70.63,overcast clouds,-2.2333,-80.9000,Playa Canela Hotel Boutique
8,Bengkulu,ID,82.06,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
9,Hambantota,LK,79.14,broken clouds,6.1241,81.1185,Bungalow 63
10,Oriximina,BR,76.12,broken clouds,-1.7656,-55.8661,Pousada Tia Amélia
11,Buraydah,SA,70.25,overcast clouds,26.3260,43.9750,فندق راحة السلام
12,Hobyo,SO,78.37,moderate rain,5.3505,48.5268,Halane Hotel and Restaurent
13,Bandarbeyla,SO,75.42,clear sky,9.4942,50.8122,JABIR HOTEL
14,Bintulu,MY,84.61,scattered clouds,3.1667,113.0333,900 Boutique INN
15,Kapaa,US,80.58,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
16,Bambous Virieux,MU,75.22,few clouds,-20.3428,57.7575,Casa Tia Villa
17,Atuona,PF,77.97,clear sky,-9.8000,-139.0333,Villa Enata
18,Presidente Medici,BR,74.30,overcast clouds,-11.1753,-61.9014,Oliveira Palace Hotel
19,Mataura,NZ,73.27,clear sky,-46.1927,168.8643,Ellie's Villa

In [26]:
len(Clean_hotel_df)

245

In [27]:
#df.count() to see any empty values cells there in df
Clean_hotel_df.count()

City                   245
Country                245
Max Temp               245
Current description    245
Lat                    245
Lng                    245
Hotel Name             245
dtype: int64

In [28]:
#The DataFrame is exported as a CSV file 
Clean_hotel_df.to_csv("weather_database/hotel_df.csv")

In [29]:
#read Clean_hotel_df to csv
Clean_hotel_df_csv=pd.read_csv("weather_database/hotel_df.csv")

In [30]:
# A marker layer map with pop-up markers for the cities in the vacation DataFrame is created, and it is uploaded as a PNG
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current description	</dt><dd>{Current description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in Clean_hotel_df_csv.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = Clean_hotel_df_csv[["Lat", "Lng"]]

In [31]:
# A marker layer map with pop-up markers for the cities in the vacation DataFrame is created, and it is uploaded as a PNG
locations = Clean_hotel_df_csv[["Lat", "Lng"]]

max_temp = Clean_hotel_df_csv["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
#pick from hotel csv file 
Clean_hotel_df_csv.tail(10)

,Unnamed: 0,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
235,253,Naze,JP,70.38,clear sky,28.3667,129.4833,オーベルジュ・アガルイ
236,254,Kaduqli,SD,76.23,broken clouds,11.0167,29.7167,فندق الله جابو
237,255,Saint-Joseph,RE,72.46,clear sky,-21.3667,55.6167,"""Plantation Bed and Breakfast"
238,256,Murray Bridge,AU,76.68,broken clouds,-35.1167,139.2667,Balcony On Sixth Lodge
239,257,Lompoc,US,70.79,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
240,258,Hervey Bay,AU,85.03,clear sky,-25.2986,152.8535,Shelly Bay Resort
241,259,Quelimane,MZ,73.65,light rain,-17.8786,36.8883,Hotel Flamingo
242,260,Carauari,BR,73.02,overcast clouds,-4.8828,-66.8958,Hotel Fellip
243,261,Akyab,MM,80.91,broken clouds,20.1500,92.9000,Hotel Memory
244,262,Badin,PK,81.00,clear sky,24.6560,68.8384,Shedi hotel

In [43]:
# My itenary VACATION filtered INDIA - MALDIVES -SRILANKA then pick 4 cities
vacation_df = Clean_hotel_df_csv.loc[(Clean_hotel_df_csv["Country"] == "IN")]

In [44]:
vacation_df

,Unnamed: 0,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
55,56,Kavaratti,IN,79.02,moderate rain,10.5669,72.6420,Hotels in Lakshadweep Islands
65,66,Chandbali,IN,76.30,overcast clouds,20.7833,86.7667,KABITA HOMES
78,81,Kunda,IN,72.46,clear sky,25.7167,81.5167,Abhinav Mishra
84,87,Pokaran,IN,77.09,clear sky,26.9167,71.9167,Motel Pokaran - RTDC
125,134,Karimganj,IN,77.68,broken clouds,24.8667,92.3500,Ahar Hotel And Aheli Restaurant
129,139,Karimpur,IN,77.59,scattered clouds,23.9667,88.6167,gabrudanga jumma masjid
161,171,Tura,IN,76.69,clear sky,25.5198,90.2201,Hotel RIKMAN Continental
199,211,Kota,IN,73.45,clear sky,25.1833,75.8333,Hotel Tanishq
228,244,Manthani,IN,72.61,broken clouds,18.6500,79.6667,Arepelli kumar muncipal vice chairman

In [45]:
# Store vacation df to csv 
vacation_df.to_csv("weather_database/vacation_df.csv")

In [46]:
#read vacation df csv
vacation_df_csv=pd.read_csv("weather_database/vacation_df.csv")

In [47]:
vacation_df_csv.head(10)

,Unnamed: 0,Unnamed: 0.1,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,55,56,Kavaratti,IN,79.02,moderate rain,10.5669,72.6420,Hotels in Lakshadweep Islands
1,65,66,Chandbali,IN,76.30,overcast clouds,20.7833,86.7667,KABITA HOMES
2,78,81,Kunda,IN,72.46,clear sky,25.7167,81.5167,Abhinav Mishra
3,84,87,Pokaran,IN,77.09,clear sky,26.9167,71.9167,Motel Pokaran - RTDC
4,125,134,Karimganj,IN,77.68,broken clouds,24.8667,92.3500,Ahar Hotel And Aheli Restaurant
5,129,139,Karimpur,IN,77.59,scattered clouds,23.9667,88.6167,gabrudanga jumma masjid
6,161,171,Tura,IN,76.69,clear sky,25.5198,90.2201,Hotel RIKMAN Continental
7,199,211,Kota,IN,73.45,clear sky,25.1833,75.8333,Hotel Tanishq
8,228,244,Manthani,IN,72.61,broken clouds,18.6500,79.6667,Arepelli kumar muncipal vice chairman

In [48]:
vacation_df_csv.drop(columns=["Unnamed: 0","Unnamed: 0.1"])

,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,Kavaratti,IN,79.02,moderate rain,10.5669,72.6420,Hotels in Lakshadweep Islands
1,Chandbali,IN,76.30,overcast clouds,20.7833,86.7667,KABITA HOMES
2,Kunda,IN,72.46,clear sky,25.7167,81.5167,Abhinav Mishra
3,Pokaran,IN,77.09,clear sky,26.9167,71.9167,Motel Pokaran - RTDC
4,Karimganj,IN,77.68,broken clouds,24.8667,92.3500,Ahar Hotel And Aheli Restaurant
5,Karimpur,IN,77.59,scattered clouds,23.9667,88.6167,gabrudanga jumma masjid
6,Tura,IN,76.69,clear sky,25.5198,90.2201,Hotel RIKMAN Continental
7,Kota,IN,73.45,clear sky,25.1833,75.8333,Hotel Tanishq
8,Manthani,IN,72.61,broken clouds,18.6500,79.6667,Arepelli kumar muncipal vice chairman

In [52]:
city_start = vacation_df_csv.loc[vacation_df_csv["City"]=="Manthani"]
city_end = vacation_df_csv.loc[vacation_df_csv["City"]=="Manthani"]

In [53]:
stop_1 = vacation_df_csv.loc[vacation_df_csv["City"]=="Chandbali"]
stop_2 = vacation_df_csv.loc[vacation_df_csv["City"]=="Kunda"]
stop_3 = vacation_df_csv.loc[vacation_df_csv["City"]=="Kota"]

In [54]:
city_end

,Unnamed: 0,Unnamed: 0.1,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
8,228,244,Manthani,IN,72.61,broken clouds,18.65,79.6667,Arepelli kumar muncipal vice chairman

In [55]:
# The latitude and longitude pairs for each of the four cities are retrieved.

start_coords=city_start["Lat"].to_numpy()[0], city_start["Lng"].to_numpy()[0]
end_coords =city_end["Lat"].to_numpy()[0], city_end["Lng"].to_numpy()[0]

#stop_1 
stop1_coords =stop_1["Lat"].to_numpy()[0], stop_1["Lng"].to_numpy()[0] 

#stop_2
stop2_coords = stop_2["Lat"].to_numpy()[0], stop_2["Lng"].to_numpy()[0] 

#stop_3
stop3_coords = stop_3["Lat"].to_numpy()[0], stop_3["Lng"].to_numpy()[0]

print(f'Start: {start_coords}, End: {end_coords}')
print(f'Stop 1: {stop1_coords}')
print(f'Stop 2: {stop2_coords}') 
print(f'Stop 3: {stop3_coords}')

Start: (18.65, 79.6667), End: (18.65, 79.6667)
Stop 1: (20.7833, 86.7667)
Stop 2: (25.7167, 81.5167)
Stop 3: (25.1833, 75.8333)

In [56]:
#Four DataFrames are created, one for each city on the itinerary
df_1 = Clean_hotel_df_csv.loc[(Clean_hotel_df_csv["City"] == "Manthani")] 
df_2 = Clean_hotel_df_csv.loc[(Clean_hotel_df_csv["City"] == "Chandbali") ] 
df_3 = Clean_hotel_df_csv.loc[(Clean_hotel_df_csv["City"] == "Kunda")]
df_4 = Clean_hotel_df_csv.loc[(Clean_hotel_df_csv["City"] == "Kota")]

In [57]:
df_1

,Unnamed: 0,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
228,244,Manthani,IN,72.61,broken clouds,18.65,79.6667,Arepelli kumar muncipal vice chairman

In [58]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([df_1,df_2,df_3,df_4],ignore_index=True)
itinerary_df

,Unnamed: 0,City,Country,Max Temp,Current description,Lat,Lng,Hotel Name
0,244,Manthani,IN,72.61,broken clouds,18.6500,79.6667,Arepelli kumar muncipal vice chairman
1,66,Chandbali,IN,76.30,overcast clouds,20.7833,86.7667,KABITA HOMES
2,81,Kunda,IN,72.46,clear sky,25.7167,81.5167,Abhinav Mishra
3,211,Kota,IN,73.45,clear sky,25.1833,75.8333,Hotel Tanishq

In [59]:
#A directions layer map between the cities
start_coords = (18.65, 79.6667)
stop1_coords = (20.7833, 86.7667)
stop2_coords = (25.7167, 81.5167)
stop3_coords = (25.1833, 75.8333)

fig = gmaps.figure()
itinerary_via_route = gmaps.directions_layer(start_coords,start_coords ,waypoints=[stop1_coords,stop2_coords,stop3_coords] ,show_markers=True,
    stroke_color='blue', stroke_weight=3.0)
fig.add_layer(itinerary_via_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
# A marker layer map with a pop-up marker for the cities on the itinerary is created
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current description	</dt><dd>{Current description}</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

locations = itinerary_df[["Lat", "Lng"]]

max_temp = itinerary_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))