In [88]:
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import gmap_api_key

In [89]:
city_data_df = pd.read_csv("cities.csv")
city_data_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Eenhana,-17.4667,16.3333,90.32,13,30,10.58,NaN,2021-10-21 15:38:35
1,1,Saint-Philippe,-21.3585,55.7679,74.79,77,50,7.61,RE,2021-10-21 15:35:42
2,2,Chuy,-33.6971,-53.4616,68.68,48,0,5.32,UY,2021-10-21 15:38:35
3,3,Yinchuan,38.4681,106.2731,48.67,25,42,3.22,CN,2021-10-21 15:38:35
4,4,Tiksi,71.6872,128.8694,14.43,95,100,12.75,RU,2021-10-21 15:38:36

In [90]:
city_data_df.dtypes

Unnamed: 0      int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [91]:
city_data_df.rename(columns= {"Unnamed: 0" : "city-id"}, inplace = True)
city_data_df

,city-id,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Eenhana,-17.4667,16.3333,90.32,13,30,10.58,NaN,2021-10-21 15:38:35
1,1,Saint-Philippe,-21.3585,55.7679,74.79,77,50,7.61,RE,2021-10-21 15:35:42
2,2,Chuy,-33.6971,-53.4616,68.68,48,0,5.32,UY,2021-10-21 15:38:35
3,3,Yinchuan,38.4681,106.2731,48.67,25,42,3.22,CN,2021-10-21 15:38:35
4,4,Tiksi,71.6872,128.8694,14.43,95,100,12.75,RU,2021-10-21 15:38:36
...,...,...,...,...,...,...,...,...,...,...
533,533,Lobito,-12.3481,13.5456,77.16,77,36,9.22,AO,2021-10-21 15:41:13
534,534,Aleksandrov Gay,50.1470,48.5704,48.74,40,100,22.59,RU,2021-10-21 15:41:14
535,535,Srikakulam,18.3000,83.9000,81.05,80,86,3.09,IN,2021-10-21 15:41:14
536,536,Tiarei,-17.5333,-149.3333,75.22,80,81,4.07,PF,2021-10-21 15:41:14
537,537,Bara,10.3744,10.7288,92.21,42,44,2.01,NG,2021-10-21 15:37:16

In [92]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gmap_api_key)

In [94]:
locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
#gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [95]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [96]:
locations = city_data_df[["Lat", "Lng"]]
Cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=Cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [97]:
locations = city_data_df[["Lat", "Lng"]]
Wind_Speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=Wind_Speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [99]:
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75

In [100]:
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

KeyboardInterrupt: Interrupted by user

In [ ]:
# cities with weather between 75 to 89
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

In [62]:
preferred_cities_df.notnull().sum()

city-id       173
City          173
Lat           173
Lng           173
Max Temp      173
Humidity      173
Cloudiness    173
Wind Speed    173
Country       170
Date          173
dtype: int64

In [63]:
preferred_cities_df.isnull().sum()

city-id       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       3
Date          0
dtype: int64

In [64]:
preferred_cities_df.count()

city-id       173
City          173
Lat           173
Lng           173
Max Temp      173
Humidity      173
Cloudiness    173
Wind Speed    173
Country       170
Date          173
dtype: int64

In [65]:
#country have 3 nulls
#preferred_cities_df["Country"] = preferred_cities_df["Country"].fillna("no country",inplace=True)

In [66]:
preferred_cities_df

,city-id,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
12,12,Cockburn Town,21.4612,-71.1419,82.71,77,15,16.69,TC,2021-10-21 15:33:57
23,23,Opuwo,-18.0607,13.8400,84.97,14,0,22.37,NaN,2021-10-21 15:38:40
36,36,Riyadh,24.6877,46.7219,87.94,21,0,11.68,SA,2021-10-21 15:38:17
37,37,Cumana,10.4635,-64.1775,86.45,63,21,5.19,VE,2021-10-21 15:38:43
41,41,Acapulco,16.8634,-99.8901,82.22,89,40,0.00,MX,2021-10-21 15:38:44
...,...,...,...,...,...,...,...,...,...,...
521,521,Riberalta,-10.9833,-66.1000,88.00,70,75,9.22,BO,2021-10-21 15:41:10
524,524,Bucerias,20.7500,-105.3333,84.97,83,1,4.61,MX,2021-10-21 15:41:11
533,533,Lobito,-12.3481,13.5456,77.16,77,36,9.22,AO,2021-10-21 15:41:13
535,535,Srikakulam,18.3000,83.9000,81.05,80,86,3.09,IN,2021-10-21 15:41:14
536,536,Tiarei,-17.5333,-149.3333,75.22,80,81,4.07,PF,2021-10-21 15:41:14

In [67]:
#Opuwo Namibia
preferred_cities_df.count()

city-id       173
City          173
Lat           173
Lng           173
Max Temp      173
Humidity      173
Cloudiness    173
Wind Speed    173
Country       170
Date          173
dtype: int64

In [101]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.tail(10)

             City Country  Max Temp      Lat       Lng Hotel Name
506        Safaga      EG     80.55  26.7292   33.9365
511    Hambantota      LK     77.34   6.1241   81.1185
517  Quatre Cocos      MU     75.09 -20.2078   57.7625
518           Edd      ER     86.83  13.9297   41.6925
520      Galesong      ID     77.02  -5.3166  119.3661
521     Riberalta      BO     88.00 -10.9833  -66.1000
524      Bucerias      MX     84.97  20.7500 -105.3333
533        Lobito      AO     77.16 -12.3481   13.5456
535    Srikakulam      IN     81.05  18.3000   83.9000
536        Tiarei      PF     75.22 -17.5333 -149.3333

In [102]:
hotel_df["Country"].fillna("No country", inplace=True)

In [103]:
hotel_df.head(10)

             City     Country  Max Temp      Lat      Lng Hotel Name
12  Cockburn Town          TC     82.71  21.4612 -71.1419
23          Opuwo  No country     84.97 -18.0607  13.8400
36         Riyadh          SA     87.94  24.6877  46.7219
37         Cumana          VE     86.45  10.4635 -64.1775
41       Acapulco          MX     82.22  16.8634 -99.8901
43       Monrovia          LR     83.97   6.3005 -10.7969
46      Micheweni          TZ     77.61  -4.9667  39.8333
50      Kavaratti          IN     81.93  10.5669  72.6420
54      Wattegama          LK     76.12   6.7989  81.4808
59       Belmonte          BR     78.80 -15.8631 -38.8828

In [104]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gmap_api_key,
    "location": "48.8566, 2.3522"
}

In [105]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [106]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
12,Cockburn Town,TC,82.71,21.4612,-71.1419,Osprey Beach Hotel
23,Opuwo,No country,84.97,-18.0607,13.8400,ABBA Guesthouse
36,Riyadh,SA,87.94,24.6877,46.7219,"InterContinental Riyadh, an IHG Hotel"
37,Cumana,VE,86.45,10.4635,-64.1775,Posada Acuarela Los Roques
41,Acapulco,MX,82.22,16.8634,-99.8901,HS Hotsson Smart Acapulco
43,Monrovia,LR,83.97,6.3005,-10.7969,Sunset Inn
46,Micheweni,TZ,77.61,-4.9667,39.8333,
50,Kavaratti,IN,81.93,10.5669,72.6420,Hotels in Lakshadweep Islands
54,Wattegama,LK,76.12,6.7989,81.4808,
59,Belmonte,BR,78.80,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
61,San Cristobal,VE,78.98,7.7669,-72.2250,Posada Villaven C.A.
63,Eldorado,BR,75.07,-23.7869,-54.2836,Villa Verde Hotel
64,San Patricio,US,81.88,28.0170,-97.5169,"Motel 6 Sinton, TX"
66,Hithadhoo,MV,82.04,-0.6000,73.0833,Scoop Guest House
67,Calamar,CO,87.75,10.2511,-74.9146,Hostal Katyalex
69,Ternate,ID,80.31,0.8000,127.4000,Grand Dafam Bela Ternate
73,Sabha,LY,83.23,27.0377,14.4283,Foundation Taaj Asala for Historical Research ...
77,Atuona,PF,77.02,-9.8000,-139.0333,Villa Enata
86,Auki,SB,76.98,-8.7676,160.7034,Auki Motel
88,Dabakala,CI,84.76,8.3667,-4.4333,Hôtel Campement

In [107]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [108]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [109]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [113]:
#Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [114]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))